In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("data/crops.csv")
df

             crop     year   area     msp  yields
0            rice  2014-15  15759    1360  378216
1            rice  2015-16  15987    1414  383688
2            rice  2016-17  15747    1470  377928
3            rice  2017-18  15958    1550  382992
4            rice  2018-19  15848    1750  380352
..            ...      ...    ...     ...     ...
95  errachandanam  2014-15      5  150000      10
96  errachandanam  2015-16      5  160000      10
97  errachandanam  2016-17      9  190000      10
98  errachandanam  2017-18     10  195000      10
99  errachandanam  2018-19     12  209000      10

[100 rows x 5 columns]

In [4]:
df.shape()

TypeError: 'tuple' object is not callable

In [ ]:
df.head()

In [5]:
df.tail(8)

             crop     year  area     msp  yields
92          tekku  2016-17    34  175000      10
93          tekku  2017-18    40  189000      10
94          tekku  2018-19    40  190000      10
95  errachandanam  2014-15     5  150000      10
96  errachandanam  2015-16     5  160000      10
97  errachandanam  2016-17     9  190000      10
98  errachandanam  2017-18    10  195000      10
99  errachandanam  2018-19    12  209000      10

In [6]:
pd.set_option('display.max_columns',None)
df

             crop     year   area     msp  yields
0            rice  2014-15  15759    1360  378216
1            rice  2015-16  15987    1414  383688
2            rice  2016-17  15747    1470  377928
3            rice  2017-18  15958    1550  382992
4            rice  2018-19  15848    1750  380352
..            ...      ...    ...     ...     ...
95  errachandanam  2014-15      5  150000      10
96  errachandanam  2015-16      5  160000      10
97  errachandanam  2016-17      9  190000      10
98  errachandanam  2017-18     10  195000      10
99  errachandanam  2018-19     12  209000      10

[100 rows x 5 columns]

In [7]:
pd.set_option('display.max_rows',None)
df

             crop     year   area     msp  yields
0            rice  2014-15  15759    1360  378216
1            rice  2015-16  15987    1414  383688
2            rice  2016-17  15747    1470  377928
3            rice  2017-18  15958    1550  382992
4            rice  2018-19  15848    1750  380352
5           maize  2014-15   1199    1310   29975
6           maize  2015-16   1227    1325   30675
7           maize  2016-17   1325    1365   33125
8           maize  2017-18   1369    1425   34225
9           maize  2018-19    951    1700   23775
10      greengram  2014-15     45    4600     225
11      greengram  2015-16     40    4850     200
12      greengram  2016-17     51    5225     255
13      greengram  2017-18     40    5575     200
14      greengram  2018-19     38    6975     190
15        redgram  2014-15     27    3175     168
16       red gram  2015-16     12    3500      72
17       red gram  2016-17     16    4000      80
18       red gram  2017-18     33    4400     165
19       red gram  2018-19     30    4600     150
20         cotton  2014-15    183    3750    1098
21         cotton  2015-16    176    3800    1056
22         cotton  2016-17    135    3860     810
23         cotton  2017-18    157    4020     942
24         cotton  2018-19     79    5150     474
25       turmeric  2014-15      3       2      30
26       turmeric  2015-16      7       2      70
27       turmeric  2016-17      2       2      20
28       turmeric  2017-18      3       2      30
29       turmeric  2018-19      6       2      60
30      sugarcane  2014-15   2627     220  525400
31      sugarcane  2015-16   1863     230  372600
32      sugarcane  2016-17   1711     230  342200
33      sugarcane  2017-18   1448     255  289600
34      sugarcane  2018-19   1266     275  253200
35          mango  2014-15   3408   10000   51015
36          mango  2015-16   2527   10100   37905
37          mango  2016-17   2092   11000   31380
38          mango  2017-18   1829   11500   87435
39          mango  2018-19   1627   13000   24405
40     cashew nut  2014-15    284   10000     568
41     cashew nut  2015-16    254   11000     508
42     cashew nut  2016-17    223   12000     446
43     cashew nut  2017-18    226   13000     452
44     cashew nut  2018-19    189   19000     378
45         banana  2014-15    116    6000   18560
46         banana  2015-16    235    7000   43600
47         banana  2016-17     76    9000   12160
48         banana  2017-18     70   10000   11200
49         banana  2018-19     36   15000    5760
50          guava  2014-15    176    9000    1760
51          guava  2015-16    242    9500    2420
52          guava  2016-17    302    9600    3020
53          guava  2017-18    345    9700    3450
54          guava  2018-19    363   10000    3630
55          lemon  2014-15     49   15000     245
56          lemon  2015-16     54   15500     270
57          lemon  2016-17     67   16000     335
58          lemon  2017-18     95   17000     475
59          lemon  2018-19     95   17500     475
60        coconut  2014-15    188    1450   56400
61        coconut  2015-16    169    1500   50700
62        coconut  2016-17    137    1600   41100
63        coconut  2017-18    152    1760   45600
64        coconut  2018-19    155    2030   46100
65         sapota  2014-15     21    6000     840
66         sapota  2015-16     79    5000    3160
67         sapota  2016-17     68    5500    2720
68         sapota  2017-18     74    6200    2960
69         sapota  2018-19     70    6500    2800
70        palmoil  2014-15   1487   30000  386620
71        palmoil  2015-16   1792   35000  465920
72        palmoil  2016-17   1866   36000  485160
73        palmoil  2017-18   1915   38000  497900
74        palmoil  2018-19   1955   40000  508300
75      eukalptus  2014-15   2003    8000  460690
76      eukalptus  2015-16   2548    8500  586040
77      eukalytus  2016-17   2585    9000  594550
78      eukalytus  2017-18   2664    9500  612720
79      eukalytus  2018-19   2668   10000  613640
80        malbari  2014-15      5   90000    2250
81        malbari  2015-16      5   80000    2850
82        malbari  2016-17     19   60000    8550
83        malbari  2017-18     17   85000    7650
84        malbari  2018-19     19   90000    8559
85     chedu vepa  2014-15     15   56000    3750
86     chedu vepa  2015-16     15   59000    3750
87     chedu vepa  2016-17     15   65000    3750
88     chedu vepa  2017-18     19   67000    4750
89     chedu vepa  2018-19     19   75000    4750
90          tekku  2014-15     25  150000      10
91          tekku  2015-16     32  160000      10
92          tekku  2016-17     34  175000      10
93          tekku  2017-18     40  189000      10
94          tekku  2018-19     40  190000      10
95  errachandanam  2014-15      5  150000      10
96  errachandanam  2015-16      5  160000      10
97  errachandanam  2016-17      9  190000      10
98  errachandanam  2017-18     10  195000      10
99  errachandanam  2018-19     12  209000      10

In [8]:
df1=df[["crop","year","msp"]]
df1

             crop     year     msp
0            rice  2014-15    1360
1            rice  2015-16    1414
2            rice  2016-17    1470
3            rice  2017-18    1550
4            rice  2018-19    1750
5           maize  2014-15    1310
6           maize  2015-16    1325
7           maize  2016-17    1365
8           maize  2017-18    1425
9           maize  2018-19    1700
10      greengram  2014-15    4600
11      greengram  2015-16    4850
12      greengram  2016-17    5225
13      greengram  2017-18    5575
14      greengram  2018-19    6975
15        redgram  2014-15    3175
16       red gram  2015-16    3500
17       red gram  2016-17    4000
18       red gram  2017-18    4400
19       red gram  2018-19    4600
20         cotton  2014-15    3750
21         cotton  2015-16    3800
22         cotton  2016-17    3860
23         cotton  2017-18    4020
24         cotton  2018-19    5150
25       turmeric  2014-15       2
26       turmeric  2015-16       2
27       turmeric  2016-17       2
28       turmeric  2017-18       2
29       turmeric  2018-19       2
30      sugarcane  2014-15     220
31      sugarcane  2015-16     230
32      sugarcane  2016-17     230
33      sugarcane  2017-18     255
34      sugarcane  2018-19     275
35          mango  2014-15   10000
36          mango  2015-16   10100
37          mango  2016-17   11000
38          mango  2017-18   11500
39          mango  2018-19   13000
40     cashew nut  2014-15   10000
41     cashew nut  2015-16   11000
42     cashew nut  2016-17   12000
43     cashew nut  2017-18   13000
44     cashew nut  2018-19   19000
45         banana  2014-15    6000
46         banana  2015-16    7000
47         banana  2016-17    9000
48         banana  2017-18   10000
49         banana  2018-19   15000
50          guava  2014-15    9000
51          guava  2015-16    9500
52          guava  2016-17    9600
53          guava  2017-18    9700
54          guava  2018-19   10000
55          lemon  2014-15   15000
56          lemon  2015-16   15500
57          lemon  2016-17   16000
58          lemon  2017-18   17000
59          lemon  2018-19   17500
60        coconut  2014-15    1450
61        coconut  2015-16    1500
62        coconut  2016-17    1600
63        coconut  2017-18    1760
64        coconut  2018-19    2030
65         sapota  2014-15    6000
66         sapota  2015-16    5000
67         sapota  2016-17    5500
68         sapota  2017-18    6200
69         sapota  2018-19    6500
70        palmoil  2014-15   30000
71        palmoil  2015-16   35000
72        palmoil  2016-17   36000
73        palmoil  2017-18   38000
74        palmoil  2018-19   40000
75      eukalptus  2014-15    8000
76      eukalptus  2015-16    8500
77      eukalytus  2016-17    9000
78      eukalytus  2017-18    9500
79      eukalytus  2018-19   10000
80        malbari  2014-15   90000
81        malbari  2015-16   80000
82        malbari  2016-17   60000
83        malbari  2017-18   85000
84        malbari  2018-19   90000
85     chedu vepa  2014-15   56000
86     chedu vepa  2015-16   59000
87     chedu vepa  2016-17   65000
88     chedu vepa  2017-18   67000
89     chedu vepa  2018-19   75000
90          tekku  2014-15  150000
91          tekku  2015-16  160000
92          tekku  2016-17  175000
93          tekku  2017-18  189000
94          tekku  2018-19  190000
95  errachandanam  2014-15  150000
96  errachandanam  2015-16  160000
97  errachandanam  2016-17  190000
98  errachandanam  2017-18  195000
99  errachandanam  2018-19  209000

In [9]:
df[['crop']]

             crop
0            rice
1            rice
2            rice
3            rice
4            rice
5           maize
6           maize
7           maize
8           maize
9           maize
10      greengram
11      greengram
12      greengram
13      greengram
14      greengram
15        redgram
16       red gram
17       red gram
18       red gram
19       red gram
20         cotton
21         cotton
22         cotton
23         cotton
24         cotton
25       turmeric
26       turmeric
27       turmeric
28       turmeric
29       turmeric
30      sugarcane
31      sugarcane
32      sugarcane
33      sugarcane
34      sugarcane
35          mango
36          mango
37          mango
38          mango
39          mango
40     cashew nut
41     cashew nut
42     cashew nut
43     cashew nut
44     cashew nut
45         banana
46         banana
47         banana
48         banana
49         banana
50          guava
51          guava
52          guava
53          guava
54          guava
55          lemon
56          lemon
57          lemon
58          lemon
59          lemon
60        coconut
61        coconut
62        coconut
63        coconut
64        coconut
65         sapota
66         sapota
67         sapota
68         sapota
69         sapota
70        palmoil
71        palmoil
72        palmoil
73        palmoil
74        palmoil
75      eukalptus
76      eukalptus
77      eukalytus
78      eukalytus
79      eukalytus
80        malbari
81        malbari
82        malbari
83        malbari
84        malbari
85     chedu vepa
86     chedu vepa
87     chedu vepa
88     chedu vepa
89     chedu vepa
90          tekku
91          tekku
92          tekku
93          tekku
94          tekku
95  errachandanam
96  errachandanam
97  errachandanam
98  errachandanam
99  errachandanam

In [10]:
df[['crop']].head()

   crop
0  rice
1  rice
2  rice
3  rice
4  rice

In [11]:
df.columns

Index(['crop', 'year', 'area', 'msp', 'yields'], dtype='object')